/*
 METHOD 1: LINE NUMBERS

.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;

    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;

    grid-gap: 30px;
}

.container > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-column: 1 / -1;
}

.main-content {
    grid-column: 1 / span 3;
}

.sidebar {
    grid-column: 4 / 5;
    grid-row: 2 / span 2;
}

.footer {
    grid-column: 1 / -1;
}
 */


/*
METHOD 2: LINE NAMES
.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;

    grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];

    grid-gap: 30px;
}

.container > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-column: col-start 1 / grid-end;
}

.main-content {
    grid-column: col-start 1 / col-end 3;
}

.sidebar {
    grid-column: col-end 3 / grid-end;
    grid-row: box-start / main-end;
}

.footer {
    grid-column: col-start 1 / grid-end;
}
 */

/* METHOD 3: NAME GRID AREAS */
.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;

    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;

    grid-gap: 30px;

    grid-template-areas: ". head head ."
                         "box-1 box-2 box-3 side"
                         "main main main side"
                         "foot foot foot side";
}

.container > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-area: head;
}

.small-box-1 {
    grid-area: box-1;
}

.small-box-2 {
    grid-area: box-2;
}

.small-box-3 {
    grid-area: box-3;
}

.main-content {
    grid-area: main;
}

.sidebar {
    grid-area: side;
}

.footer {
    grid-area: foot;
}
