.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;

    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    grid-auto-rows: 80px;
    grid-auto-columns: .5fr;
    grid-auto-flow: row; /* default: row */

    /* Align grid items to grid areas */
    align-items: end; /* default: stretch */
    justify-items: end;
}

.item {
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.item--4 {
    background-color: crimson;
    grid-row: 2 / span 3;
    align-self: start;
    justify-self: start;
}

.item--7 {
    background-color: palevioletred;
    grid-column: 1 / -1;
}