.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(2, 150px);
    /* grid-template-columns: repeat(2, 150px) 1fr; */
    grid-template-columns: repeat(3, 1fr);

    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--1 {
    background-color: orange;
    /*
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
     */
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 10;

}

.item--2 {
    background-color: green;
    /* grid-column: 1 / span 3; */
    grid-column: 2 / -1;
}

.item--3 {
    background-color: violet;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.item--4 {
    background-color: pink;
}

.item--5 {
    background-color: blue;
    /*
    grid-row: 1 / 2;
    grid-column: 3 / 4;
     */
    grid-area: 1 / 3 / 3 / 4;
}

.item--6 {
    background-color: brown;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}